
node_modules/discord\.js/

node_modules/enabled/

node_modules/env-variable/

node_modules/fast-safe-stringify/

node_modules/fecha/

node_modules/inherits/

node_modules/is-arrayish/

node_modules/is-stream/

node_modules/isarray/

node_modules/kuler/

node_modules/lodash/

node_modules/logform/

node_modules/long/dist/

node_modules/long/

node_modules/ms/

node_modules/one-time/

node_modules/options/

node_modules/prism-media/

node_modules/process-nextick-args/

node_modules/readable-stream/

node_modules/safe-buffer/

node_modules/simple-swizzle/

node_modules/snekfetch/

node_modules/stack-trace/

node_modules/string_decoder/

node_modules/text-hex/

node_modules/triple-beam/

node_modules/tweetnacl/

node_modules/ultron/

node_modules/util-deprecate/

node_modules/winston-transport/

node_modules/winston/

node_modules/ws/
